*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 2rem;
}

html {
  font-size: 62.5%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  font-size: 2rem;
  gap: 2rem;
}

header {
  text-decoration: none;
  color: black;
}

header img {
  max-width: 30px;
  cursor: pointer;
  /* background-color: red; */
}

label,
input {
  display: block;
}

/* dark togglen */

.dark {
  background-color: black;
  color: white;
}

.dark a {
  color: white;
}

.img-black-mode {
  display: none;
}

.dark .img-black-mode {
  display: block;
}

.dark .img-light-mode {
  display: none;
}

/*  */

section p {
  font-size: 3rem;
  padding: 3rem;
}

.red {
  color: red;
}

.green {
  color: green;
}
