*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

header {
  height: 694px;
}

img {
  width: 695px;
}
/* body {
  background: url() no-repeat center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
} */
