body {
  background-color: antiquewhite;
}

p {
  background-color: aqua;
}

/* p tag nur in den article ändern */

article p {
  background-color: violet;
}

section ul li {
  background-color: lightyellow;
}
/* letzte von der Gruppe */
section ul li:last-child {
  background-color: lightgreen;
}
/* erste von der Gruppe */

section ul li:first-child {
  background-color: lightgrey;
}

/* letzte von Typen */
h4:last-of-type {
  color: brown;
}

h4:first-of-type {
  color: blue;
}

/* bestimmte von einer Gruppe */

section ul li:nth-child(2) {
  background-color: orange;
}

/* bestimmte Typen */
ul li:nth-last-of-type(3) {
  background-color: darksalmon;
}

/* SELEKTORSPEZIFIKATION: wenn etwas geanuer definiert ist in ein klassen konflikt, ist die benutzt wird */

section article div h4 {
  background-color: red;
}

section div h2 {
  background-color: bisque;
}

/* hintergrund bild eingeben */

section div {
  background-color: brown;
  height: 200px;
  /* - background-image: url("https://plus.unsplash.com/premium_photo-1673283380425-0f41f67db1c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=400&q=60"); */
  /* bild nur 1 mal, keine wiederholen */

  /* - background-repeat: no-repeat; */

  /* bild mittig*/

  /* -background-position: center; */
  /* bild complett zu sehen */
  background-size: contain;

  /* die erste 3 (kommentiert in rosa) kann man ein shortcut mit */
  background: url("https://plus.unsplash.com/premium_photo-1673283380425-0f41f67db1c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=400&q=60")
    no-repeat center;
}

h6 {
  background-color: aqua;
  color: brown;
  font-size: 25px;
}

/* alle spans */
span {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-decoration: underline;
}

/* nur der spans in ein h6 */
h6 span {
  font-style: italic;
}

/* schriftarten eingebungen */

@font-face {
  font-family: Maria-font;
  src: url(../assets/fonts/Roboto/Roboto-Light.ttf);
}

/* Wir geben nach unsere font, geben mehrere alternativen */
html {
  font-family: Maria-font, Arial, Helvetica, sans-serif;
  font-weight: 100;
}

h6 {
  font-size: 700;
  text-decoration: underline;
  text-align: center;
  text-shadow: 50px 0 8px rgb(7, 7, 7);
  word-spacing: 10px;
  letter-spacing: 5px;
}
