/* best practice hier oben */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* --- */

div {
  background-color: red;
  height: 100px;
  width: 100px;
  border: 20px solid black;
}

/* Ohne Box-sizing wird die breite: 140 */
/* Wenn eine Bestimmte breite haben wollen ist mit border-box */

article {
  background-color: lightgreen;
  height: 80px;
  width: 300px;
  padding: 5px;
  margin: 10px;
}
