/* best practice hier oben */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* --- */

/* Ohne Box-sizing wird die breite: 140 */
/* Wenn eine Bestimmte breite haben wollen ist mit border-box */

.displays {
  background-color: lightgreen;
  height: 80px;
  width: 300px;
  padding: 5px;
  margin: 10px;
}

div {
  background-color: red;
  height: 100px;
  width: 100px;
  border: 2px solid black;
  /* ! shorthand */

  padding: 5px 3px 2px 0;
  margin: 0 0 30px 0;

  /* ! alle werte */

  margin-top: 1px;
  margin-left: 2px;
  margin-bottom: 1px;
  margin-right: 4px;

  /* ! YX Axe (oben/unten-links/rechts)*/
  margin: 12px 1px;
  padding: 1px 5px;
}

.displays {
  background-color: bisque;
  display: inline-block;
  margin: 4px;
  height: 200px;
}

.displays p {
  background-color: aquamarine;
}

.text article p {
  background-color: lightblue;
  margin: 3px;
  padding: 5px;
  /* wir können jetzt height und width an ein Block element geben mit inline-block */
  display: inline-block;
  height: 60px;
  width: 70px;
}

.zweitediv {
  background-color: beige;
  padding: 3px;
  height: auto;
  width: 250px;
  /* zentrieren mit margin */
  margin: 0 auto 40px auto;
  margin: 0 auto;
  /* zentrieren text */
  text-align: center;
}
