*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.red {
  background-color: red;
  color: yellow;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.login {
  margin-top: 3rem;
  width: 300px;
  background-color: gray;
  padding: 2rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}
