* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  border: 1px dotted black;
  font-size: medium;
  border-radius: 8px;
  padding: 3px;
}

h2 {
  text-align: center;
  font-size: medium;
  border-radius: 15px;
  padding: 3px;
  box-shadow: -1px 1px 10px rgb(63, 61, 61);
}

h3 {
  text-align: center;
  border: 10px double rgb(93, 163, 93);
  padding: 8px;
  border-radius: 15px;
  margin: 10px auto;
  width: fit-content;
}

ol,
ul {
  margin: 0 auto;
  border: 1px dotted rgb(93, 163, 93);
  width: fit-content;
}

li {
  box-shadow: 0 1px rgb(93, 163, 93);
}

p {
  border: 2px solid orange;
  color: rgb(141, 81, 206);
  text-align: left;
}

p::first-letter {
  font-size: 20px;
  padding: 10px;
}

/* p::first-letter:hover {
  color: red;
  font-size: 20px;
  cursor: pointer;
  
} */
