*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: rgba(91, 180, 91, 0.673);
}

html {
  font-size: 62, 5%;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  padding: 4rem;
}

.card {
  width: 15rem;
  height: 40vh;
  background-color: rgb(83, 88, 83);
  padding: 0.5rem;
}

.headline {
  color: white;
  text-align: center;
  font-size: 1rem;
  font-weight: 200;
  padding: 1rem 1rem 1.5rem 1rem;
}

.tab {
  text-decoration: none;
  color: white;
  width: 100%;
  text-align: center;
  transition: background-color 0.3s;
  padding: 0.5rem;
  font-size: small;
  border-radius: 3px;
}

.tab:hover {
  background-color: rgb(5, 151, 5);
}

.tab-activ {
  background-color: var(--primary-color);
}

.tab-bar {
  display: flex;
  justify-content: space-between;
}

form {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 0.5rem;
}

input {
  width: 100%;
  padding: 0.4rem;
  box-shadow: 1px 1px 1px white;
  background-color: transparent;
  color: white;
  border-radius: 3px;
}

input::placeholder {
  color: rgb(241, 238, 238);
  font-weight: lighter;
}

button {
  width: 100%;
  position: absolute;
  top: 10rem;
  background-color: var(--primary-color);
  padding: 0.5rem;
  color: white;
  border: none;
  border-radius: 3px;
}

/* only for Login */

.forgot {
  position: absolute;
  color: var(--primary-color);
  top: 8rem;
  right: 0;
  font-size: small;
}

#login form {
  position: relative;
}
