@font-face {
  font-family: lato;
  src: url("../assets/fonts/Lato/Lato-Regular.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-grey: #222121;
  --color-black: #000000;
  --bg-color: #d9e8e5;
  --bg-color-white: #ffff;
  --fz: 1.4rem;
}

html {
  font-size: 62.5%;
  font-family: lato, Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ------Header---------- */

.logo {
  display: flex;
  align-items: baseline;
  margin-right: 2em;
  font-size: 3rem;
  color: var(--text-color);
}

.logo img {
  width: 3rem;
  height: 3rem;
}

.logo h1 {
  font-weight: 400;
  padding-left: 0.1em;
}

nav {
  background-color: var(--bg-color-white);
  padding: 1em 4em;
  display: flex;
  align-items: baseline;
}

nav ul {
  list-style: none;
  display: flex;
  flex: auto;
  /* ?Die Eigenschaft flex: auto; ist eine Abkürzung für die Kombination der Flex-Eigenschaften flex-grow, flex-shrink und flex-basis. */
}
.push-right {
  margin-left: auto;
}

nav a {
  color: var(--text-color-black);
  text-decoration: unset;
  padding: 0 1.2rem;
  font-size: 2rem;
}

nav a:hover {
  font-weight: 900;
}

/* --------------main-------------- */
/* version mit background statt image */

main {
  background-color: var(--bg-color);
  padding: 10rem;
}

h2 {
  font-size: 2.5rem;
  color: var(--color-black);
  margin: 0 0 2vw 3rem;
}

section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

/* ring */

.one {
  background: url("../assets/img/ring001.png") no-repeat center;
}
.two {
  background: url("../assets/img/ring002.png") no-repeat center;
}
.three {
  background: url("../assets/img/ring003.png") no-repeat center;
}
.four {
  background: url("../assets/img/ring004.png") no-repeat center;
}
.five {
  background: url("../assets/img/ring005.png") no-repeat center;
}
.six {
  background: url("../assets/img/ring006.png") no-repeat center;
}

.ring-bg {
  background-size: cover;
  width: 350px;
  height: 250px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  border-radius: 0.5rem;
  padding: 0 2rem 1rem 0;
}
