*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: antiquewhite;
}

section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.checkbox {
  background-color: white;
  padding: 0.5rem;
  border-radius: 8px;
}
