*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.red-box {
  background-color: red;
  width: 100px;
  height: 100px;
  margin: 30px;
  transition-property: all;
  transition-duration: 2s;
  transition-delay: 1ms;
  transition-timing-function: ease-in-out;
}

.red-box:hover {
  background-color: gray;
  width: 300px;
  height: 120px;
  margin: 30px;
}
