*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Helvetica;
}

h1,
h2 {
  font-size: 3rem;
  padding: 2rem;
  text-align: center;
  color: bisque;
}

main {
  background-color: rgb(56, 54, 54);
  width: 100vw;
  height: 100vh;
}

.wrapper {
  background-color: rgb(56, 54, 54);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.spanStyle {
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  color: white;
}

.spanStyle:first-of-type {
  color: rgb(229, 178, 13);
  font-weight: 700;
  font-size: 1.5rem;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid wheat;
  border-radius: 8px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.after::after {
  content: " : ";
}
