html {
  font-family: Arial, Helvetica, sans-serif;
}

.b-color,
.b-image,
.b-gradient {
  width: 150px;
  height: 150px;
  margin: 10px;
}

div div:first-of-type {
  background-color: rgba(255, 214, 0, 1);
}

div div:nth-of-type(2) {
  background: url(https://images.unsplash.com/photo-1508808787069-421e7986016e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8eWVsbG93fGVufDB8fDB8fHww&auto=format&fit=crop&w=400&q=60)
    no-repeat center;
  background-size: cover;
}

/* gradient generator: https://cssgradient.io/ */
div div:last-of-type {
  background: linear-gradient(
    90deg,
    rgba(36, 35, 0, 1) 0%,
    rgba(219, 179, 14, 1) 53%,
    rgba(255, 214, 0, 1) 100%
  );
}

.backgrounds {
  display: flex;
}

p {
  text-align: center;
}

/* change the color of the text, becouse we can not read it */
.b-image p {
  color: red;
}
