*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.absolute-box {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
}

/* relative (bezieht auf das eltern element)*/

.relative-box {
  width: 50%;
  background-color: red;
}

img {
  width: 70%;
  display: block;
}

/* vp (bezieht auf das screen)-sinnvolle für responsives design*/

.vp-box {
  width: 20vw;
  height: 30vh;
  background-color: brown;
}
/* rem:schriftgroße des rootelement */
/* em: schriftgroße des übergeordete selement */
/* .html { */
/* font-size: 16px; */
/* font-size: 62.5%; */
/* standard wert */
/* } */

.normal {
  font-size: 16px;
}

/* Schriftgroße: 1.5 x Elternelement (16px) = 24px */

/* rem und em mit container ist nicht good practice, nur für schriftgroßen */

.big {
  font-size: 1.5em;
}

.bigger {
  font-size: 1.7rem;
}

/* !Clamp() */

.content {
  padding: 10px;
  width: 80%;
  background-color: yellow;
}

/* Mit clamp skalieren die scrift. Aber wenn ein absoluter Wert gewunsch wird, muss man absoluter werte. Clamp ist advance und ist nicht sehr bekannt */
/* clamp , min, optimale, max*/

.title {
  color: blue;
  font-size: clamp(1rem, 4vw, 5rem);
}

span {
  font-size: clamp(2rem, 6vw, 4rem);
}
